alabaster==0.7.12
Babel==2.8.0
certifi==2022.12.7
chardet==3.0.4
docutils==0.16
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
packaging==20.4
Pygments==2.5.2
pyparsing==2.4.7
pytz==2020.1
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
typing==3.7.4.1
urllib3==1.25.9
